body {
  margin: 0;
  @font-face {
    font-family: 'Roboto-Light';
    src: url('../src/fonts/Roboto-Light.ttf') format('truetype');
    /* src: url("../src/fonts/Roboto-Light.eot"); */
    /* src: url('/src/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('/src/fonts/Roboto-Light.woff') format('woff'),
         url('../src/fonts/Roboto-Light.ttf') format('truetype'),
         url('/src/fonts/Roboto-Light.svg#RobotoLight') format('svg'); */
    font-weight: 100;
    font-style: normal;
}
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
